## Self made, but on real projects, it's customary to curl -o .gitignore https://www.gitignore.io/api/swift
## User data
**/xcuserdata/*
*.xcuserdatad/
## Playgrounds
timeline.xctimeline
playground.xcworkspace
# Annoying Finder
.DS_Store
